      
   {% extends 'base.html.twig' %}

   {% block title %}Hello HomeController!{% endblock %}
   
   {% block body %}   
      
   <div class="flex">
    <div class=" inline-flex absolute w-fit ml-28 mt-6"><div class="relative inline-block bottom-1 right-4 top-20 left-auto translate-x-2/4 translate-y-1/2 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 p-2.5 text-xs bg-green-400 rounded-full z-10"></div></div>
    <img src="https://mdbootstrap.com//img/Photos/Square/1.jpg" class="w-[140px] h-[140px] rounded-full shadow-ga border-solid border-4 border-white" alt="">
  
    <div class="flex flex-col mt-[3rem]">
    <div class="flex flex-row ml-10">
      <a href="#" class="text-xxl">
      Lucie_Liu 
      </a>  
    </div>
    <div class=" text-base text-gray-700 ml-10 mt-1">
      <p>
        Etudiante 
      </p>
    </div>
  </div>
</div>
      
  {% endblock %}